<div class="min-h-full flex justify-content-center align-items-center">
  <div class="surface-card p-4 shadow-6 border-round h-full w-full lg:w-6 m-auto">
    <div class="text-center mb-5">
      <img src="../../../assets/logo-square.png" alt="Image" height="50" class="mb-3">
      <div class="text-900 text-3xl font-medium mb-3">Are you sure you want to log out?</div>
    </div>
    <div>
      <button pButton pRipple label="Yes, log me out" icon="pi pi-sign-out" class="w-full" (click)="logout()"></button>
    </div>
  </div>
</div>
