<div class="grid w-full py-2">
  <div class="col-12 lg:col-6 p-4">
    <p-skeleton *ngIf="domain === undefined" styleClass="w-full p-4 border-round h-20rem"></p-skeleton>
    <div *ngIf="domain" class="surface-card shadow-4 w-full p-4 border-round">
      <div class="text-3xl mb-5">{{domain.name}}</div>
      <ul class="list-none p-0">
        <li class="flex align-items-center py-3 border-top-1 surface-border flex-wrap">
          <div class="text-500 w-6 font-medium">Unique ID</div>
          <div class="text-900 w-full flex-order-1">{{domain.id}}</div>
        </li>
        <li class="flex align-items-center py-3 border-top-1 surface-border flex-wrap">
          <div class="text-500 w-6 font-medium">Domain name</div>
          <div class="text-900 w-full flex-order-1">{{domain.name}}</div>
        </li>
        <li class="flex align-items-center py-3 border-top-1 surface-border flex-wrap">
          <div class="text-500 w-6 font-medium">Creation date</div>
          <div class="text-900 w-full flex-order-1">{{domain.createdAt}}</div>
        </li>
        <li class="flex align-items-center py-3 border-top-1 surface-border flex-wrap">
          <div class="text-500 w-6 font-medium">Last modification</div>
          <div class="text-900 w-full flex-order-1">{{domain.updatedAt}}</div>
        </li>
        <li class="flex align-items-center py-3 border-top-1 surface-border flex-wrap">
          <button pButton pRipple label="Delete Domain" icon="pi pi-trash" class="w-4 flex-order-1 p-button-outlined p-button-danger" (click)="deleteDomain()" ></button>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-12 lg:col-6 p-4">
    <div class="surface-card shadow-4 w-full p-4 border-round">
      <div class="text-3xl mb-5">Upload files</div>
      <p-fileUpload name="file" url="{{filesUrl}}" accept=".xlsx,.xls">
        <ul *ngIf="uploadedFiles">
          <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
        </ul>
      </p-fileUpload>
    </div>
  </div>
</div>
